/* payment-information__point-value start */
.payment-information__point-value {
  font-size: 16px;
  line-height: 21px;
  font-family: Arial, sans-serif;
  color: #383d43;
}
/* payment-information__point-value end */