/* bank-card-form__button start */
.bank-card-form__button {
  margin-top: 40px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 18px;
  font-family: Open-Sans-Bold, sans-serif;
  letter-spacing: 1px;
}
/* bank-card-form__button end */