$fontArial: Arial, sans-serif;
$fontOpenSansBold: Open-Sans-Bold, sans-serif;

@font-face {
  font-family: $fontArial;
  src: url('/public/fontsc/fonts/Arial/Arial.ttf');
}

@font-face {
  font-family: $fontOpenSansBold;
  src: url('/public/fontsc/fonts/Open Sans/OpenSans-Bold.ttf');
}
/* body start */
body {
  margin: 0;
  padding: 0;
  background-color: #101114;
}
/* body end */